h1{
    color: rgb(11, 92, 28);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 43px;
    font-family:'Segoe UI';
}


.boxClass{
    height: 80px;
    width: 80px;
    /* border: 1px; */
    /* border-style: solid; */
   /* display: flex; */
   /* flex-grow: 1; */
}
.mainBoard{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    border: 7px;
    border-color: black;
    border-style: solid;
    /* margin: 20px; */
    /* justify-content: center; */
}
.inputContainer{
    display: flex;
    justify-content: space-around;
width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#enterButton{
    width: 100px;
}
#clearBtn{
    width: 100px;
}
.inputContainer>#inputLabel{
    font-weight:bolder;
    color: rgb(255, 0, 43);
}
#input{
    color: brown;
}